# Machine Learning Using Support Vector Machine

In [1]:
#import relevant libraries
import pandas as pd

In [4]:
#Load data
df1 = pd.read_excel('../Resources/2020 County Health Rankings Data2.xlsx')
df2 = pd.read_excel('../Covid-19/Resources/worldmeterUS_cleaned.xlsx')
df4 = pd.read_csv('../Covid-19/Resources/US_newcases.csv')

In [5]:
#Drop columns
df1.drop('TotalCases',axis=1, inplace=True)
df1.drop('TotalDeaths',axis=1, inplace=True)

In [6]:
#Count values in each dataframe column
df1.count()

FIPS                                   3109
State                                  3109
County                                 3109
Length of Life Quartile                3108
 Quality of Life Quartile              3108
 Health Behaviors Quartile             3108
Clinical Care Quartile                 3108
 Social & Economic Factors Quartile    3108
Physical Environment Quartile          3108
Average Quartile                       3056
State rank                             3109
county modifier                        3056
overall county rank                    3056
dtype: int64

In [7]:
#Show dataframe
df1.head()

,FIPS,State,County,Length of Life Quartile,Quality of Life Quartile,Health Behaviors Quartile,Clinical Care Quartile,Social & Economic Factors Quartile,Physical Environment Quartile,Average Quartile,State rank,county modifier,overall county rank
0,1001,Alabama,Autauga,1,1,1,1,1,4,1.500000,1,1.0,2.0
1,1003,Alabama,Baldwin,1,1,1,1,1,1,1.000000,1,2.0,3.0
2,1005,Alabama,Barbour,2,4,4,3,4,2,3.166667,1,-1.0,0.0
3,1007,Alabama,Bibb,3,1,2,2,3,2,2.166667,1,0.0,1.0
4,1009,Alabama,Blount,3,1,1,3,1,3,2.000000,1,1.0,2.0

In [8]:
#Drop columns
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2.drop(0, axis=0, inplace=True)

In [9]:
#Rename columns
df2.rename(columns={'USAState':'State'}, inplace=True)

In [10]:
#Count the number of values in each column
df2.count()

State          63
TotalCases     63
TotalDeaths    61
dtype: int64

In [11]:
#merge two dataframes
df3 = df1.merge(df2, on='State')

In [12]:
#Show merged dataframe
df3.head()

,FIPS,State,County,Length of Life Quartile,Quality of Life Quartile,Health Behaviors Quartile,Clinical Care Quartile,Social & Economic Factors Quartile,Physical Environment Quartile,Average Quartile,State rank,county modifier,overall county rank,TotalCases,TotalDeaths
0,1001,Alabama,Autauga,1,1,1,1,1,4,1.500000,1,1.0,2.0,8120,310.0
1,1003,Alabama,Baldwin,1,1,1,1,1,1,1.000000,1,2.0,3.0,8120,310.0
2,1005,Alabama,Barbour,2,4,4,3,4,2,3.166667,1,-1.0,0.0,8120,310.0
3,1007,Alabama,Bibb,3,1,2,2,3,2,2.166667,1,0.0,1.0,8120,310.0
4,1009,Alabama,Blount,3,1,1,3,1,3,2.000000,1,1.0,2.0,8120,310.0

In [13]:
#Count the amount of rows in each column to ensure merge was correct 
df3.count()

FIPS                                   3107
State                                  3107
County                                 3107
Length of Life Quartile                3107
 Quality of Life Quartile              3107
 Health Behaviors Quartile             3107
Clinical Care Quartile                 3107
 Social & Economic Factors Quartile    3107
Physical Environment Quartile          3107
Average Quartile                       3054
State rank                             3107
county modifier                        3054
overall county rank                    3054
TotalCases                             3107
TotalDeaths                            3107
dtype: int64

In [40]:
#Rename columns
#df3.drop('TotalCases_x', axis=1, inplace=True)
#df3.drop('TotalDeaths_x', axis=1, inplace=True)
#df3.rename(columns={'TotalCases_y':'TotalCases', 'TotalDeaths_y ':'TotalDeaths'}, inplace=True)

In [14]:
#show dataframe
df3.head()

,FIPS,State,County,Length of Life Quartile,Quality of Life Quartile,Health Behaviors Quartile,Clinical Care Quartile,Social & Economic Factors Quartile,Physical Environment Quartile,Average Quartile,State rank,county modifier,overall county rank,TotalCases,TotalDeaths
0,1001,Alabama,Autauga,1,1,1,1,1,4,1.500000,1,1.0,2.0,8120,310.0
1,1003,Alabama,Baldwin,1,1,1,1,1,1,1.000000,1,2.0,3.0,8120,310.0
2,1005,Alabama,Barbour,2,4,4,3,4,2,3.166667,1,-1.0,0.0,8120,310.0
3,1007,Alabama,Bibb,3,1,2,2,3,2,2.166667,1,0.0,1.0,8120,310.0
4,1009,Alabama,Blount,3,1,1,3,1,3,2.000000,1,1.0,2.0,8120,310.0

In [15]:
#Drop columns in preparation for machine learning
df3.drop('County', axis=1, inplace=True)
df3.drop('State', axis=1, inplace=True)

In [16]:
#show dataframe
df3.head()

,FIPS,Length of Life Quartile,Quality of Life Quartile,Health Behaviors Quartile,Clinical Care Quartile,Social & Economic Factors Quartile,Physical Environment Quartile,Average Quartile,State rank,county modifier,overall county rank,TotalCases,TotalDeaths
0,1001,1,1,1,1,1,4,1.500000,1,1.0,2.0,8120,310.0
1,1003,1,1,1,1,1,1,1.000000,1,2.0,3.0,8120,310.0
2,1005,2,4,4,3,4,2,3.166667,1,-1.0,0.0,8120,310.0
3,1007,3,1,2,2,3,2,2.166667,1,0.0,1.0,8120,310.0
4,1009,3,1,1,3,1,3,2.000000,1,1.0,2.0,8120,310.0

In [17]:
#drop rows with null values
df3 = df3.dropna()

In [18]:
#count the number of rows in each column 
df3.count()

FIPS                                   3054
Length of Life Quartile                3054
 Quality of Life Quartile              3054
 Health Behaviors Quartile             3054
Clinical Care Quartile                 3054
 Social & Economic Factors Quartile    3054
Physical Environment Quartile          3054
Average Quartile                       3054
State rank                             3054
county modifier                        3054
overall county rank                    3054
TotalCases                             3054
TotalDeaths                            3054
dtype: int64

In [19]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.18.1)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001CACB1A0F08>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001CACB15B648>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001CACB15B208>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001CACB3E1208>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001CACB3E1408>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/

In [54]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\fkokr\.conda\envs\pythondata\lib\site-packages (0.14.1)

In [23]:
# Disable warnings 
import warnings
warnings.filterwarnings('ignore')

In [24]:
#copy dataframe
df5 = df3.copy()

In [25]:
#Make the number of total case the dependent variable---Note: This ML algorithm uses Total Covid-19 cases in the US as both 
#a dependent and independent variable
df10 = df5['TotalCases']

In [26]:
#Count the number of rows in each column
df10.count()

3054

In [27]:
#Count the number of rows in each column
df3.count()

FIPS                                   3054
Length of Life Quartile                3054
 Quality of Life Quartile              3054
 Health Behaviors Quartile             3054
Clinical Care Quartile                 3054
 Social & Economic Factors Quartile    3054
Physical Environment Quartile          3054
Average Quartile                       3054
State rank                             3054
county modifier                        3054
overall county rank                    3054
TotalCases                             3054
TotalDeaths                            3054
dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
X  = df3
y = df10
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [78]:
y_train.shape

(2290,)

In [79]:
X_train.shape

(2290, 13)

In [80]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [83]:
from sklearn.svm import SVC
model = SVC(kernel = 'linear')
model.fit(X_train_scaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [84]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.7550218340611353
Testing Data Score: 0.7513089005235603

In [85]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C':[1,5,10], 'gamma':[0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid)

In [86]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.001, 0.01]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [87]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 10, 'gamma': 0.0001}
0.9401746724890829